<?xml version="1.0" encoding="UTF-8"?>
<Context path="/Chapt12User">


	<Resource name="jdbc/mydb" 
	driverClassName="org.postgresql.Driver"
	url = "jdbc:postgresql://localhost:5432/mydb"
	username = "postgres"
	password = "postgres"
	maxActive = "100"
	maxIdle = "30"
	maxWait ="1000"
	logAbandoned="true"
	removeAbandonedTimeout ="60"
	type="javax.sql.DataSource" />
</Context>